<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="site-title">Tech Blog</title>
    <link rel="stylesheet" href="/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="nav-bar">
        <ul class="d-flex flex-row justify-content-around nav-list">
            <li class="justify-content-around nav-item"><a class="nav light-text" href="/">Home</a></li>
            <li class="justify-content-around nav-item"><a class="nav light-text" href="/dashboard">Dashboard</a></li>
            <li class="justify-content-around nav-item"><a class="nav light-text" href="/login">Login</a></li>
            <li class="justify-content-around nav-item"><a class="nav light-text" href="#" id="logout">Logout</a></li>
        </ul>
    </nav>
    <header class="hero d-flex">
        <h1 class="hero-title justify-content-center primary-text">Your Dashboard</h1>
    </header>

    <main>
        {{{body}}}
    </main>


    <footer class="d-flex justify-content-center">
    <a href="/dashboard/new">➕ New Post</a>
    </footer>

    
</body>

<script src="/dist/js/bootstrap.js"></script>
<script src="/js/logout.js"></script>


</html>