<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/dist/css/bootstrap.css">
</head>

<body>
    <nav class="">
        <ul class="d-flex flex-row justify-content-around">
            <li class="justify-content-around nav-item"><a href="/">Home</a></li>
            <li class="justify-content-around nav-item"><a href="/dashboard">Dashboard</a></li>
            <li class="justify-content-around nav-item"><a href="/login">Login</a></li>
            <li class="justify-content-around nav-item"><a href="#" id="logout">Logout</a></li>
        </ul>
    </nav>
    <header class="hero d-flex">
        <h1 class="hero-title justify-content-center">Tech Blog</h1>
    </header>

    <main>
        {{{body}}}
    </main>

    <script src="/dist/js/bootstrap.js"></script>
    <script src="/js/logout.js"></script>
</body>



</html>