<div class="posts">
  {{#each posts}}
    <a class="d-flex justify-space-between" href="/dashboard/edit/{{id}}">
      <span>{{title}}</span>
      {{!-- <span>{{format_date createdAt}}</span> --}}
    </a>
  {{/each}}
</div>