<div class="card">
    <div class="card-header">
        <h2>Log into your account</h2>
    </div>
    <div>
        <form id="login-form" class="card-body">
            <div>
                <label for="username-login">Username</label>
                <input type="text" id="username-login" />
            </div>
            <div>
                <label for="password-login">Password</label>
                <input type="text" id="password-login" />
            </div>
            <button type="submit" id="signup-btn" class="btn">Login</button>
            <a type="button" href="/signup">Sign up instead!</a>
        </form>
    </div>
</div>

<script src="/js/signup.js"></script>