<div class="post">
    <section class="card">
        <div class="post-header">
            <h2>{{post.title}}</h2>
            <h3>Posted by {{post.User.username}}</h3>
        </div>
    </section>
</div>